<div class="container">
  <img src="/assets/icon-redhat.png" class="icon" />
  <h3 class="title">SELinux MLS</h3>
</div>
<h4 class="description">Automates MLS configuration for SELinux via SSH.</h4>
<div class="wrapper">
  <div class="info">
    <h4 class="inner-description title-border">Machine</h4>
    <h4 class="inner-description">Credentials</h4>
  </div>
  <div class="info">
    <h4 class="inner-description title-border">About</h4>
  </div>
</div>
<hr />
<section>
  <p *ngFor="let log of logs">> {{ log }}</p>
</section>
