.container {
  display: flex;
  justify-content: center;
}

.title {
  color: #cc0000;
  margin-top: 0;
  padding-top: 10px;
  font-size: 42px;
}

.icon {
  width: 60px;
  height: 60px;
  padding-right: 10px;
}

.description {
  margin-top: 0;
  color: #ffffff;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  min-height: 150px;
}

.info {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner-description {
  margin: 0;
  padding-left: 4px;
  padding-right: 4px;
}

.title-border {
  border-left: 3px solid #42C0FB;
}

.inner-description::first-letter {
  font-size: 30px;
}

p{
  color: lime;
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  width: 30em;
  animation: type 4s steps(60, end);
}

p:nth-child(2){
  animation: type2 8s steps(60, end);
}

p a{
  color: lime;
  text-decoration: none;
}

@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}
